/* bdark and blight is switched bc i first wanted to work with light background.
    then i wanted dark bg and i was to lazy to switch them all*/

:root {
  --bdark: #ffffff;
  --blight: #312e2b;
  --move: inset 0 0 0px 2000px rgba(247,247,105,0.7);
}

h1 {
  color: var(--bdark);
  margin-top: 5%;
}

h2 {
  color: var(--bdark);
}

h3 {
  color: var(--bdark);
}

.depthselect { 
  width: 50%;
  height: 50px;
  font-size: large;
  text-align: center;
  color: var(--bdark);
  background-color: var(--blight);
}

.theme { 
  margin-top: 5%;
  float: right;
  width: 50%;
  height: 50px;
  font-size: large;
  text-align: center;
  color: var(--bdark);
  background-color: var(--blight);
}

p {
  color: var(--bdark);
}

body {
  background-color: var(--blight);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.center {
  margin-left: auto;
  margin-right: auto;
}

.textcenter {
  text-align: center;
}

label {
  color: var(--bdark);
}

button {
  background-color: var(--bdark);
  color: var(--blight);
  border: 0px;
  width: 100%;
  height: 50px;
}

button:hover {
  background-color: var(--blight);
  color: var(--bdark);
}

td {
  vertical-align: top;
}

.pgn {
  width: 100%;
  height: 375px;
  background-color: var(--blight);
  color: var(--bdark);
  resize: none;
}

.fen {
  width: 100%;
  height: 30px;
  background-color: var(--blight);
  resize: none;
  color: var(--bdark);
}

input {
  max-width: 500px;
  width: 100%;
  height: 30px;
  background-color: var(--blight);
}

meter {
  max-width: 500px;
  width: 100%;
  height: 30px;
}

meter::-webkit-meter-bar {
  background: none;
  background-color: black;
}

meter::-webkit-meter-optimum-value {
  -webkit-transition: width .5s;
  box-shadow: 0 5px 5px -5px #999 inset;
  background-image: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 100%);
  background-size: 100% 100%;
}

.mobileHide {
  display: inline;
}

/* Smartphone Portrait and Landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .mobileHide {
    display: none;
  }
}

.mobileShow {
  display: none;
}

/* Smartphone Portrait and Landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .mobileShow {
    display: inline;
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/*
 *  Chessboard Related
 */

.highlight-white {
  box-shadow: var(--move);
}

.highlight-black {
  box-shadow: var(--move);
}